/*
 * Common stuff
 */
html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Helvetica Neue";
}

small {
  color: #333;
}

/*
 * Changeset
 */
.changeset {
  margin-left: 5px;
  background-color: #eee;
}

.message {
  font-size: 1.2em;
}

.author {
  color: #333;
}

.file-name {

}
